body {
  font-family: "Courier New", Courier, monospace;
  background-color: fffffa;
}
#menu {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  padding-top: 10%;
  padding-left: 30%;
}
h2 {
  padding-left: 30%;
}
#info {
  width: 100%;
  padding-left: 50px;
  padding-top: 50px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

h6 {
  text-align: center;
  padding-top: 30px;
}
